/* ===== COMMISSIONS ===== */
/* tutorial slider: https://www.youtube.com/watch?v=VUtJ7FWCfZA&list=PLpwngcHZlPae68z_mLFNfbJFIJVJ_Zcx2 */
 
.main-commissions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 92vh;
    gap: 1rem;
    margin-top: 2rem;
}
 
.main-commissions h1{
    font-size: 2rem;
    font-weight: 700;
    color: var(--bordo);
}
.main-commissions .subtitulo{
    font-size: 0.8rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--roxo);
    text-align: center;
    margin-bottom: 2rem;
}
 
.commissions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.card-wrapper {
    padding: 0 4rem 4rem;
    max-width: 1200px;
    overflow: hidden;
}
 
.card-list .card-item {
    list-style: none;
}
 
.card-item .card-link {
    display: block;
    width: 100%;
    background-color: var(--branco-transparente);
    padding: 5%;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}
 
.card-item .card-link:hover {
    border-color: var(--lilas);
}

.card-link .card-image {
    width: 100%;
    aspect-ratio: 4/5;
    object-fit: cover;
}

.card-texto{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.85rem;
}

.card-texto p{
    font-size: 1.20rem;
}

.card-link .badge {
    color: var(--verde-escuro);
    font-size: 0.95rem;
    background: var(--verde-bg);
    width: fit-content;
    border-radius: 50px;
    border: 0.05rem solid var(--verde-escuro);
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
}

.card-link .card-title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--roxo);
}
 
.card-link .card-button {
    height: 2.5rem;
    width: 2.5rem;
    color:var(--lilas);
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid var(--lilas);
    transform: rotate(-45deg);
    transition: 0.4s ease;
}
 
.card-link:hover .card-button {
    color: white;
    background: var(--lilas);
}
 
/* desktop */
@media (min-width: 750px) {
    .commissions-titulo {
        font-size: 3rem;
    }
 
    .card-wrapper {
        max-width: 1200px;
    }
}