*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background: #daddd4;
  color: rgb(171, 96, 96);
}

header {
    height: 5rem;
    background: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2% 0% 2%;
}

header .logo{
    display: flex;
    flex-direction: row-reverse;
}
header .logo h1{
    font-size: 3em;
    position: relative;
    
}

header img{
    width: 60px;
    border-radius: 20%;
    margin: 2%;
}


nav ul {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    gap: 5%;
}


nav a {
    color: rgb(171, 96, 96);
    text-decoration: none;
    font-size: 1.3rem;
    font-family:'Quicksand', sans-serif;
}

nav a:hover {
  color: #c19f64;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 86vh;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    padding: 1rem;
}

.gallery img {
    width: 100%;
    aspect-ratio: 4/5;
    object-fit: cover;
    border-radius: .5rem;
    transition: transform 0.3s ease;
    cursor: pointer;

}

.gallery img:hover {
    transform: scale(1.05); /* Aumenta 50% */
    position: relative;
    z-index: 10;
    box-shadow: 0px 0px 20px 10px rgba(232, 230, 215, 0.841)

}

footer {
  text-align: center;
  padding: 1rem;
  background: #eaeaea;
}

/* ===== MEDIA QUERIES ===== */

@media (min-width: 600px){
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 770px){
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 900px){
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 1024px){
    .gallery {
        width: 70%;
        grid-template-columns: repeat(4, 1fr);
    }
}
