*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #daddd4;
    color: rgb(171, 96, 96);
}

a{
    color: rgb(132, 81, 147);
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, Sans-serif;
    background: #eaeaea;
    height: 8vh; /*deixa a altura da header dependete da altura da altura da janela de visualização do usuário*/
}

.logo{
    display: flex;
    font-size: 1.6em;
    letter-spacing: 0.05em;
}

.logo img{
    width: 60px;
    border-radius: 20%;
    margin: 2%;
}
.lista-nav{
    font-size: 1em;
    list-style: none;  
    display: flex;
}

.lista-nav li{
    letter-spacing: 0.05em;
    margin-left: 1.5em; /*ESPAÇO ENTRE CADA ITEM DA LISTA*/
}


.menu-mobile{
    cursor: pointer;
    display: none;
}
.menu-mobile div{
    width: 2em;
    height: 0.25em;
    background: rgb(132, 81, 147);
    margin: 0.3em;
    border-radius: 15%;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 92vh;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    padding: 1rem;
}

.gallery img {
    width: 100%;
    aspect-ratio: 4/5;
    object-fit: cover;
    border-radius: .5rem;
    transition: transform 0.3s ease;
    cursor: pointer;

}

.gallery img:hover {
    transform: scale(1.05); /* Aumenta 50% */
    position: relative;
    z-index: 10;
    box-shadow: 0px 0px 20px 10px rgba(232, 230, 215, 0.841)
}

.caixa-sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh;
}
.caixa-sobre img {
    width: 90%;
    max-width: 500px;
    box-shadow: 0px 0px 30px 20px #eaeaea;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.caixa-sobre img:hover{
    transform: scale(1.05);
}

.apresentacao{
    display: flex;
    align-items: center;
    width: 900px;
}

.apresentacao p{
    background: white;
    margin-left: 50px;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #eaeaea;
}

/* ===== MEDIA QUERIES ===== */


@media (min-width: 600px){
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media (min-width: 670px){
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 770px){
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 900px){
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 1024px){
    .gallery {
        width: 70%;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(max-width:960px){
    .apresentacao img{
        width: 50vw;
    }
}

@media (max-width: 800px) {
    .apresentacao{
        display: flex;
        flex-direction: column;
    }

    .apresentacao p{
        margin: 0;
        margin-top: 5%;
    }

    body{
        overflow-x: hidden; /*pra tirar a rolagem horizontal q o transform criou*/
    }
    
    .lista-nav{
        position: absolute;
        top: 8vh;
        right: -10%;
        width: 50vw;
        height: 92vh;
        background: #eaeaeae8;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%); /*isso vai criar uma barra de rolagem horizontal que nao queremos, para consertar, tem q por overflow x hidden no body*/
        transition: transform 0.3s ease-in;
        box-shadow: 0px 0px 20px 40px #eaeaeae8
    }

    .lista-nav li{
        margin-right: 17vw;
        opacity: 0; /*depois vai fazer a animação*/
    }

    li a:hover{
        opacity: 1;
        background-color: #ffffff;
        box-shadow: 0px 0px 20px 20px #ffffff;
        border-radius: 20%;
    }

    .menu-mobile{
        display: block; /*assim o flexbox automaticamente se ajusta*/
    }

    .lista-nav.active{
        transform: translateX(0);/*vai voltar a aparecer qnd tiver ativo com a classe q vamos adicionar ao javascript*/
    }

    .gallery img:hover {
        position: relative;
        transform: none;
        box-shadow: 0 0 0 0;
    }

    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }to{
            opacity: 1;
            transform: translateX(0px);
        }
        
    }
}